<!DOCTYPE html>
<html lang="CN-zh">
<head>
    <link type="shortcut icon" herf="">
    <meta charset="utf-8">
    <title></title>
    <!-- 请记得加title 蟹蟹 -->
</head>
<body id="index">
    <div id="context">
    <!-- main part -->
        <p id="lastTimeEdited">本页最后编辑于 - 日</p>
        <div id="underPadding"></div>
    </div>
    <div id="manu">
        <!-- JS自动添加 -->
</div>
</body>
<script src="./assets/js/main.js"></script>
<style>
    @import url("../css/div.css");
    @import url("../css/image.css");
    @import url("../css/manu.css");
    @import url("../css/text.css");
    @import url("../css/animation.css");
</style>
</html>