body {
    font-family: system-ui;/* 这里加 system-ui 就好了 不用单独声称无衬线字体awa */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}
h1, h2 {
    text-align: center;
    color: #444;
}
p {
    text-align: center;
    margin: 10px 20px;
}
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
th {
    background-color: #555;
    color: #fff;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
a {
    color: #0078D7;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}