/* 全局样式就得了 单独搞你还要一个一个的设置边框和填充 */
* {
    margin: 0;
    padding: 0;
}
/* 请不要加注释... 代码本身就已经说明了它的作用 还有你翻译类名干啥???*/
::-webkit-scrollbar {
    display: none;
}
.blurEffect {
    backdrop-filter: blur(5px);
    height: 100vh;
    width: 100vw;
    position: absolute;
}
.table {
    border-radius: 1rem;
}
/* 不用语义化 button有多个类型(type) 使用id属性即可*/
#button {
    background-color: #f9f9f9;
    border-radius: 0.5rem;
    padding: 0.3rem 0.5rem;
    width: fit-content;
}
table {
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 1rem;
    border-spacing: 0;
    overflow: hidden;
}
th {
    padding: 1rem 1.5rem;
    text-align: left;
    font-weight: normal;
}
#context {
    min-height: 60vh;
    width: auto;
    padding: 4rem;
    border-radius: 1rem;
}
@media (max-width: 768px) {
    #context {
        padding: 2rem;
    }
}
#modalOverlay {
    z-index: 3;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    display: block; /* 调整是否显示的话 display了解一下 或者属性为content也可以*/
    animation: disAppear 1s ease-out;
}
#blurTitle {
    z-index: 2;
    text-align: center;
    justify-content: center;
}
#underPadding {
    height: 4rem;
}