* {
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    display: none;
}
.blurEffect {
    backdrop-filter: blur(5px);
    height: 100vh;
    width: 100vw;
    position: absolute;
}
.table {
    border-radius: 1rem;
}
#button {
    background-color: #f9f9f9;
    border-radius: 0.5rem;
    padding: 0.3rem 0.5rem;
    width: fit-content;
}
table {
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 1rem;
    border-spacing: 0;

}
td, th {
    padding: 1.5rem;
}
#content, #content_menuMain {
    width: auto;
    padding: 4rem;
    border-radius: 1rem;
}
@media (max-width: 768px) {
    #content {
        padding: 2rem;
    }
}
#modalOverlay {
    z-index: 3;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    animation: disAppear 1s ease-out;
}
#blurTitle {
    z-index: 2;
    text-align: center;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(5px);
    justify-content: center;
}
#underPadding {
    height: 4rem;
}
#warning p {
    color: #ff0000 !important;
}