#menu {
    z-index: 4;
    position: fixed;
    right: 0px;
    bottom: 0px;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.05);
}
#menu div{
    display: none;
    padding: 0.5rem;
}
#menu a{
    padding: 0.5rem;
}
#menu:hover div{
    display: block;
}