#menu {
    z-index: 4;
    position: fixed;
    right: 0px;
    bottom: 0px;
    padding: 1rem;
    background: var(--bg-color-code);
    border-radius: 0.5rem;
}
#menu div {
    display: none;
    padding: 0.5rem;
}
#menu a {
    padding: 0.5rem;
}
#menu:hover div {
    display: block;
}
#subArea {
    display: contents;
    padding: 0.2rem;
}
#menuIcon {
    height: 3rem;
    left: 3rem;
    float: right;
}
/*  */
#menuMain {
    padding: 1rem;
    background: var(--bg-color-code);
    border-radius: 0.5rem;  
    background-color: var(--bg-color-code);
}
#menuMainIcon {
    
}