body {
    background: #1a1a1a;
}
body p, li, a, th, s, .subTitle, .title, .notes {
    color: #ffffff;
}
body code {
    color: #ffffff;
    background-color: #252525;
}
body div#button, #menu {
    color: #ffffff;
    background-color: #2e2e2e; /* 提升对比度 */
}
