.nightMode {
    background: #1a1a1a;
}
.nightMode p, li, a, th{
    color: #ffffff;
}
.nightMode code{
    color: #ffffff;
    background-color: #252525;
}
.nightMode div#button{
    color: #ffffff;
    background-color: #252525;
}